<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio_item.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @portfolio_item.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @portfolio_item.body %>
</p>

<p><strong>Technology used: <strong></p>

  <% @portfolio_item.technologies.each do |technology_item| %>
<p><%= technology_item.name %></p>
  <% end %>


<%= link_to 'Edit', edit_portfolio_path(@portfolio_item) %> |
<%= link_to 'Back', portfolios_path %>
